/*LOGO-----------------------------------------------------------------*/

    .logo {
        margin-top: -30px;  /* sobe */
    }
    .bv{
        margin-top: 60px;  /* sobe */
    }

    .logo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 45px;
        line-height: 35px;
        color: white;
        position: relative;
        display: inline-block;
    }

    
    .logo span {
        display: block;
        position: relative;
        letter-spacing: 2px;
    }

    .logo span.clone {
        position: absolute;
        top: 3px;
        left: 4px;
        color: #000;           
        z-index: -1;
        opacity: .9;
    }

    body {
        background: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
        
        /*LOGO-------------------------------------------------------------*/

        .bv {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 40px;
        color: white;
        position: relative;
        display: inline-block;
    }
        body{
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container{
            width: 1250px;
            background: white;
            display: flex;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 20px 50px rgba(0,0,0,0.15);
        }

        .left{
            width: 40%;
            background: #000000;
            color: white;
            padding: 80px 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        .left h2{
            font-size: 1000px;
            font-weight: bold;
        }

    

        .right{
            width: 800%;
            background: #f9f3f3;
            padding: 40px;
        }

        .right h2{
            text-align: center;
            font-size: 26px;
            margin-bottom: 5px;
        }

        .input-group{
            margin-top: 20px;
        }

        .input-group input{
            width: 100%;
            padding: 14px;
            border-radius: 6px;
            border: 1px solid #c7c2c2;
            background: #eee7e7;
            font-size: 15px;
        }

        .btn{
            margin-top: 25px;
            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 30px;
            background: #000;
            color: white;
            font-size: 16px;
            cursor: pointer;
        }

        .erro{
            color: red;
            text-align: center;
            margin-top: 15px;
            font-weight: bold;
        }